header{ width: 100%; height: 100px; background-color: #00AFEF;}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100%;
    max-width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
}

.navegacao{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navegacao .navegacao-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    height: 50px;
    list-style: none;
}

.navegacao-menu li{
    padding: 5px 10px;
}

.navegacao-menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
    transition: 0.3s;
}

.navegacao-menu li a:hover{
    color: #4c4c4c;
   
}

.navegacao-menu .btn-area-cliente{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 1px solid #092961;
    border-radius: 20px;
    color: #092961;
    transition: 0.3s;
}

.navegacao-menu .btn-area-cliente:hover{
    color: #f1f1f1;
    background-color: #0de931;
}

.btn-area-cliente span{
    padding-top: 10px;
}